snippet pap "Bibtex article" i
@article{$1,
	author = "$2",
	title = "$3",
	year = "$4",
	publisher = "$5",
	journal = "$6",
	pages = "$7",
	ISBN = "$8"
}
endsnippet

snippet web "Bibtex website" i
@misc{$1,
	author = "$2",
	title = "$3",
	year = "$4",
	note = {\url{$5}}
}
endsnippet
